<?xml version="1.0"?>

<configuration>
  <queries>
    <!--Add your queries here-->
    <query value="SELECT CASE WHEN COUNT(*) &gt; 5000 THEN 1 ELSE 100/0 END AS result FROM Products" connectionStringName="SiteSqlServer" isEntityModel="false" onlyCheckConnection="false" />
    <query connectionStringName="SiteSqlServer" isEntityModel="false" onlyCheckConnection="true" />
    <query connectionStringName="MyDatabase_Entities" isEntityModel="true" onlyCheckConnection="true"/>
  </queries>
  <pages>
    <!--Add your pages here-->
    <page requestUrl="https://msdn.microsoft.com/" response="&#169; 2015 Microsoft" containsResponse="true" timeout="5000"/>
  </pages>
  <paths>
    <!--Add your paths here-->
    <path filePath="C:\inetpub\wwwroot\OurWebsitePath" deleteTestFile="false" />
    <path filePath="C:\" deleteTestFile="true" />
  </paths>
  <log filePath="C:\" onlyShowError="true"/>
</configuration>